<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>{{customer_data.cust_name}}</th>
        </tr>
        <tr>
            <th>Contact</th>
            <th>{{customer_data.cust_contact}}</th>
        </tr>
        <tr>
            <th>Address</th>
            <th>{{customer_data.cust_address}}</th>
        </tr>
        <tr>
            <th>DOB</th>
            <th>{{customer_data.cust_dob|date:'Y-m-d'}}</th>
        </tr>
        <tr>
            <th>Gender</th>
            <th>{{customer_data.cust_gender}}</th>
        </tr>
    </table>
    <a href="{% url 'cust:logout' %}">Logout</a>
</body>
</html>