<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Contact</th>
            <th>Profile</th>
        </tr>
        {% for customer in cus_data %}
        <tr>
            <td>{{customer.customer_name}}</td>
            <td>{{customer.customer_contact}}</td>
            <td><img src="{{customer.customer_image.url}}" alt="" height="200px" width="200px"></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>